@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*{
  scroll-behavior: smooth;
}
.beforecreate::before{
  content: "";
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(to top , rgb(0, 0, 0),transparent);
    z-index: 10;
}
.background{
  animation:change 30s infinite ease-in-out;
  height: 100vh;
  width: 100%;
}
@keyframes change {
  0%{
      background-image: url(/img6.jpg);
      width:100%;
      height: 100vh;
  }
  20%{
      background-image: url(/img7.jpg);
      width:100%;
      height: 100vh;
  }
  40%{
      background-image: url(/img3.jpg);
      width:100%;
      height: 100vh;
  }
  60%{ 
      background-image: url(/img9.jpg);
      width:100%;
      height: 100vh;
  }
  80%{
      background-image: url(/img10.jpg);
      width:100%;
      height: 100vh;
  }
  100%{
      background-image: url(/img6.jpg);
      width:100%;
      height: 100vh;
  }
}
.content{
  transform: translate(-50%, -50%);
}
.reveal{
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}